header{
    background-color: darkgoldenrod;
    height:8vh;
    padding: 20px;
    
}

h2{
    font-family: cursive;
    color: white;
}
li{
    display: inline;
    margin-left:30px;
}
ul{
    text-align: center;
}
a{
    font-size: 19px;
    font-weight: bold;
     text-decoration: none;
     color: white;
     padding: 10px;
     border-radius: 5px;
}
a:hover{
    background-color: darkkhaki;
}
